// Sass libraries

//Project dependencies
@import 'project-dependencies/variables';
@import 'project-dependencies/helpers';
@import 'project-dependencies/fonts';

// JS dependencies

// Patterns
@import 'patterns/general';
@import 'patterns/layout';
@import 'patterns/buttons';

// Sections
@import 'sections/header';
@import 'sections/footer';

.wrapper {
	background:coral;
}
.jorge {
	color:blue;
}

.flex {
	display:flex;
	display:inline-flex;
}