extends ../templates/main-template

block title
    -var project = {name: 'Site', section: 'Section'}
    title= project.name +' | ' + project.section

block description
    meta(name='description', content='Page description')
block content
    .wrapper
        .header
            h1 Hola jorge desde <span>Gulp</span>
        .exito
            | Todo ha hido genial, Felicidades
        .atencion
            |  Deberias preocuparte
        .error
            |  error
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil tempora suscipit minima. Enim doloribus cupiditate, velit hic adipisci maxime dolore ex aliquid optio exercitationem tempore sit pariatur fugiat, aperiam recusandae.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo praesentium, accusantium, iusto eum iure vel commodi consectetur earum rerum. Aliquid suscipit porro, eum praesentium, labore excepturi unde neque fugiat sit.
